[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "==1.5.3"  # Updated to match requirements.txt
elasticsearch = "*"
sentence_transformers = "*"  # Updated to match requirements.txt
python-dotenv = "*"
hyperopt = "*"
streamlit = "*"
numpy = "==1.21.0"  # Match the specific version needed
psycopg2-binary = "==2.9.6"  # Updated to match requirements.txt

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"

[requires]
python_version = "3.12"
